h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e2e;
}